{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        {% for i in orders %}

        
        <div class="left-side">
            {% for j in i.orderitem_set.all %}
            <img src="{{j.image.url}}" alt="Product Image" class="product-image" style="max-width: 100px; max-height: 100px;">
            <h2>{{j.product.product_name}}</h2>
            <p>Price: {{j.product.price}}</p>
            <p>Quantity: {{j.quantity}}</p>
            <p>Order Date:{{i.date}}</p>
            <p>Expected Delivery: DD/MM/YYYY</p>
            
            <hr>
            {% endfor %}
            <div>
                {% if i.status == 'cancelled' %}
                <label style="color:red">Order cancelled</label>
                {% elif i.status != 'delivered' and i.status != 'completed' and  i.status != 'returned'%}
                <a href="{% url 'cancel_order' i.id %}"><button type="button" class="btn btn-danger btn-lg">Cancel</button></a>
                {% endif %}
                
                {% if i.status == 'delivered' or i.status == 'completed' %}
                <a href="{% url 'return_order' i.id %}"><button type="button" class="btn btn-danger btn-lg">Return</button></a>
                {% endif %}
            </div>
            <br>
            
            
        </div>
        <div class="right-side">
            <div class="order-summary">
                <h3>Order Summary</h3>
                <p>Subtotal: {{i.amount}}</p>
                <p>Shipping: 10</p>
                <p>Payment Method: {{i.payment_type}}</p>
                <p style="color:blue;">Status: {{i.status}}</p>
            </div>
            <div class="delivery-address">
                <h3>Delivery Address</h3>
                <p>Name: {{i.user.name}}</p>
                <p>Address: {{i.address.house_no}}</p>
                <p>City: {{i.address.city}}</p>
                <p>Phone No:{{i.address.phone_no}}</p>
            </div>
        </div>
        
        {% endfor %}
        {% comment %} {% endfor %} {% endcomment %}
    </div>
</div>
{% endblock %}