{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h2>Search Results</h2>
    <div class="row">
        {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4">
            
                <a class="product-item" href="{% url 'user_product' product.id %}">
                <!-- Use image_url from the product dictionary -->
                <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.product_name }}" style="max-width: 200px; max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title" style="color: black;">{{ product.product_name }}</h5>
                    <p class="card-text" style="color: black;">{{ product.description }}</p>
                    <div class="product-price d-flex justify-content-center">
                       
                        
                        {% if product.discounted_price %}
                            <h6 class="text-success">₹{{ product.discounted_price }}</h6>
                            <h6 class="text-muted"><del>₹{{ product.price }}</del></h6>
                        {% elif product.offer_price %}
                            <h6 class="text-dark">₹{{ product.offer_price }}</h6>
                            <h6 class="text-muted"><del>₹{{ product.price }}</del></h6>
                        {% endif %}
                    </div>
                    <a href="{% url 'add_to_cart' product.id %}" style="text-decoration: none;">
                        <button class="btn btn-primary" style="background-color: black;">Add to Cart</button>
                    </a>
                    
                    <a href="{% url 'add_to_wishlist' product.id %}" style="text-decoration: none;">
                        <button class="btn btn-primary" style="background-color: black;">Add to Wishlist</button>
                    </a>
                </a>
                </div>
                
            
        </div>
        </div>
        
    
{% endfor %}


    </div>
</div>

{% endblock %}