{% load static %}
<style>
    .search-suggestions {
		width: calc(100% - 40px);
		max-height: 200px;
		overflow-y: auto;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		background-color: white;
		border: 1px solid #ccc;
		border-top: none;
	}
	
	.search-suggestions div {
		padding: 10px;
		cursor: pointer;
		border-bottom: 1px solid #eaeaea;
	}
	
	.search-suggestions div:last-child {
		border-bottom: none;
	}
	
	.search-suggestions div:hover {
		background-color: #f6f6f6;
	}  /* Change background on hover for better UX */


</style>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" style="background-color: black !important;" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="index.html">He & She <span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'home' %}">Home</a>
						</li>
						<li><a class="nav-link" href="{% url 'mens' %}">Men</a></li>
						<li><a class="nav-link" href="{% url 'womens' %}">Women</a></li>
						{% if user.is_authenticated %}
						<li><a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a></li>
						{% endif %}
						<li><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
						<li><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						{% if user.is_authenticated %}
						<!-- <li style="color: white;" margin-top="10px;">Hello, {{ user.name }}</li> -->
						<li><a class="nav-link" href="{% url 'profile' %}"><img src="{% static 'images/user.svg' %}" alt="profile"></a></li>
						{% else %}
						<li><a class="nav-link" href="{% url 'signup' %}"><img src="{% static 'images/user.svg' %}" alt="Signup"></a></li>
						{% endif %}
						{% if user.is_authenticated %}
						<li><a class="nav-link" href="{% url 'cartt' %}"><img src="{% static 'images/cart.svg' %}" alt="Cart"></a></li>
						{% endif %}
						<div class="col-lg-6 col-6 text-left" style="width: 500px;margin-left:50px;">
							<form method="get" action="{% url 'search' %}">
								<div class="input-group">
									<input type="text" class="form-control" id= "searchInput" name="q" placeholder="Search for products">
									<div id="suggestionBox" class="search-suggestions"></div>
									<div class="input-group-append">
										<button type="submit" class="btn btn-warning" style="width: 40px !important;">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>

					</ul>
				</div>

				<script>
					document.addEventListener("DOMContentLoaded", function() {
						const searchInput = document.getElementById('searchInput');
						const suggestionBox = document.getElementById('suggestionBox');
					
						searchInput.addEventListener('input', function() {
							fetch(`/search-suggestions/?q=${this.value}`)
							.then(response => response.json())
							.then(data => {
								suggestionBox.innerHTML = '';
								data.forEach(item => {
									const div = document.createElement('div');
									div.innerText = item;
									div.addEventListener('click', function() {
										searchInput.value = this.innerText;
										suggestionBox.innerHTML = '';
									});
									suggestionBox.appendChild(div);
								});
							});
						});
					});
				</script>				
			</div>			
		</nav>

		<!-- End Header/Navigation -->



